@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    background: rgba(116, 185, 255, 0.09);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px;
}

#naslovna-slika {
    height: 400px;
    width: 100%;
    background-image: url('../Slike/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position-y: -70px;
}

#naslovna p {
    text-align: justify;
}

:-webkit-any(article,
aside,
nav,
section) h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#naslov {
    margin: 0px auto;
    padding: 15px;
    background: rgb(240, 248, 255);
}


/*
section {
    /* margin-top: 50px; 
    background: rgba(116, 185, 255, 0.09);
    text-align: center;
}*/

section h1 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    bottom: 0;
}

section p {
    position: relative;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 25px 50px;
    margin: 0 auto;
}